<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.exam.Mapper.LookbookMapper">

    <select id="selectLookbook" resultType="com.example.exam.Model.LookbookModel">
        SELECT num, img_url, filename, writer, save_time, title, content FROM lookbook
    </select>

    <select id="selectLookbookDetail" resultType="com.example.exam.Model.LookbookModel">
        SELECT num, img_url, filename, writer, save_time, title, content FROM PersonalHp.lookbook WHERE num = ${num}
    </select>

    <insert id="lookbookInsert">
        INSERT INTO lookbook(
            img_url,
            filename,
            writer,
            save_time,
            title,
            content
        ) values (
                     #{img_url, jdbcType=VARCHAR},
                     #{filename, jdbcType=VARCHAR},
                     #{writer, jdbcType=VARCHAR},
                     #{save_time, jdbcType=VARCHAR},
                     #{title, jdbcType=VARCHAR},
                     #{content, jdbcType=VARCHAR}
                 )
    </insert>

</mapper>