<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="fragment-footer" class="padding-50 light nopadding" data-animation-origin="top" data-animation-duration="500" data-animation-delay="800" data-animation-distance="50px">
  <div class="container-fluid nopadding">
    <div class="row nopadding">
      <div class="col-md-3 nopadding"></div>
      <div class="col-md-3 nopadding">
        <div class="p-icon ui-block-color05"></div>
        <div class="dividewhite1"></div>
        <div class="footer-widget">
          <h5 class="font-accident-two-bold uppercase">Gridus HTML Template</h5>
          <p class="">
            The Gridus Resume Template has an unique modern flat intuitive design. You can choose one of 8 pre-defined Color schemes.
          </p>
          <div class="divider-dynamic"></div>
        </div>
      </div>
      <div class="col-md-3 nopadding">
        <div class="dividewhite2"></div>
        <div class="footer-widget">
          <h5 class="font-accident-two-bold uppercase">Contacts</h5>
          <p class="">
            Email: markswennson@mail.com<br> Phone: 1 234 567 56 34<br> Skype: markswennson
          </p>
          <div class="divider-dynamic"></div>
        </div>
      </div>
      <div class="col-md-3 nopadding">
        <div class="dividewhite2"></div>
        <div class="footer-widget">
          <h5 class="font-accident-two-bold uppercase">Subscribe</h5>
          <div class="dividewhite1"></div>
          <input class="newsletter-email" type="email" required="" name="ne" placeholder="Your Email">
          <a href="#!" class="btn btn-wh-trans btn-xs">OK</a>
          <div class="divider-dynamic"></div>
        </div>
      </div>
    </div>
    <div class="dividewhite1"></div>
    <div class="row nopadding">
      <div class="col-md-3 nopadding"></div>
      <div class="col-md-9 nopadding copyrights">
        <p>© 2018 Mark Swennsson.</p>
      </div>
    </div>

    <div class="dividewhite4"></div>
  </div>
</footer>
</html>